.basicprofileedit-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.basicprofileedit-item > div {
    margin-top: .25rem;
    margin-bottom: .25rem;
}

.basicprofileedit-item-left {
    width: 100%;
}

.basicprofileedit-item-right {
    width: 100%;
}

.basicprofileedit-item-right > span, .basicprofileedit-warning {
    color: red;
    font-style: italic;
    font-size: .8rem;
}

.basicprofileedit-item > div input {
    margin: 0;
    padding: 1ch .5ch;
    width: 100%;
    font-size: 1rem;
}

.basicprofileedit-item > div fieldset {
    margin: 0;
    padding: 0;
    border-color: white;
    border-width: 0;
    width: 100%;
}

.basicprofileedit-submit {
  font-size: 1rem;
  text-align: center;
  margin-top: 1.5rem;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-inline: 2em;
  border: none;
}

@media (min-width: 640px) {
    .basicprofileedit-item {
        flex-direction: row;
    }

    .basicprofileedit-item-left {
        width: 25ch;
    }
}